.introduction {
    background-color: white;
    display: flex;
    .left {
        flex: 0.5;
        overflow: hidden;
        .img-profile {
            width: 700px;
            height: 700px;
            background-color: #0a0938;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: right;
            img {
                height: 90%;
            }
        }
    }
    .right {
        flex: 0.5;
        position: relative;
        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-size: 60px;
                margin: 10px 0;
            }
            h2 {
                font-size: 35px;
            }
            h3 {
                font-size: 30px;
            }
        }
    }
}