.introduction {
    background-color: white;
    display: flex;
    .left {
        flex: 0.5;
        overflow: hidden;
        .img-profile {
            width: 700px;
            height: 700px;
            background-color: #0a0938;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 90%;
            }
        }
    }
    .right {
        flex: 0.5;
    }
}