.introduction {
    background-color: white;
    display: flex;
    .left {
        flex: 0.5;
        overflow: hidden;

        .img-profile{
          width: 700px;
          height: 700px;

          img{
            height: 90%;
          }
        }
    }
    .right {
        flex: 0.5;
    }
}