    .about {
        background-color: #fcefe5;
        color: #10162f;
        display: flex;
        .left {
            flex: 0.5;
            overflow: hidden;
            .leftContainer {
                width: 70%;
                display: flex;
                padding: 50px 80px;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                h1 {
                    font-size: 45px;
                }
                p {
                    padding: 40px 0;
                    font-size: 18px;
                }
            }
        }
        .right {
            flex: 0.5;
        }
    }