.works {
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    .slider {
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
    }
}